* {
  color: white;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  width: 90%;
}

body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.title {
  margin: 0.2em 0;
}

.subtitle {
  margin-top: 0;
  padding-left: 0.8em;
}

#post_title {
  margin-bottom: -0.5em;
  margin-top: 0.3em;
  font-size: 1.2rem;
}

.post {
  padding: 1em;
  border: 1px dashed;
  margin: 1em 0;
  font-size: 0.8rem;
}

#post_content {
  margin-top: 0.5em;
}
